<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1 align="center">Welcome to the Fitness Center!</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/Grand Rapids.jpg"
                     asp-append-version="true"/>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="clublist"
                   class="btn btn-primary">Select Club</a>
                <a asp-controller="home" asp-action="memberList"
                   class="btn btn-danger">Full Member List</a>
            </div>
        </div>
    </div>
</div>
@*<h3>@Model.PageTitle</h3>

    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>*@
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}